* {
   box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.hidden-backgrounds {
   display: none;
   background-image: url('./assets/firstPageSlides/1.jpg'),
      url('./assets/firstPageSlides/2.jpg'),
      url('./assets/firstPageSlides/3.jpg'),
      url('./assets/firstPageSlides/4.jpg'),
      url('./assets/firstPageSlides/5.jpg'),
      url('./assets/firstPageSlides/6.jpg'),
      url('./assets/firstPageSlides/7.jpg'),
      url('./assets/firstPageSlides/8.jpg'),
      url('./assets/firstPageSlides/9.jpg'),
      url('./assets/firstPageSlides/10.jpg'),
      url('./assets/firstPageSlides/11.jpg'),
      url('./assets/firstPageSlides/12.jpg');
}
.content {
   font-size: xx-large;
}
.fade-in-out {
   animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
.fade-in-out2 {
   animation: fadeInOut2 2s ease-in-out infinite;
}

@keyframes fadeInOut2 {
   0% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   75% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
::-webkit-scrollbar {
   display: none;
}

.puff-in-center {
   -webkit-animation: puff-in-center 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
   animation: puff-in-center 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
   0% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}
@keyframes puff-in-center {
   0% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}
.kenburns-top {
   -webkit-animation: kenburns-top 5s ease-out infinite alternate-reverse both;
   animation: kenburns-top 5s ease-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-top {
   0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
   }
   100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
   }
}
@keyframes kenburns-top {
   0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
   }
   100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
   }
}
